<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <title>Hello World</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    {% include 'navbar.html' %}
    <body>
        <h1>Olá, mundo!</h1>
        <h3>Mais um portfólio para seus projetos</h3>
    <br>
        <a href="{{ url_for('login') }}">
            <button>Login</button>
        </a>
    <a href="{{ url_for('criar_conta') }}">
        <button>Criar Conta</button>
    </a>


                <img src="{{ url_for('static', filename='fotos_site/projetest_logo.png') }}">

    </body>
</html>
