{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block body %}
  <body>
      <div class="container">
            <p class="botao-perfil">
          <a href="{{ url_for('configuracao_conta') }}">Configuração</a></p>
            <p class="botao-perfil">
          <a href="{{ url_for('administracao') }}">Administracao</a></p>
      </div>
   {% if formfoto %}
    <div class="container">
        <form class="bloco-add-img" method="POST" enctype="multipart/form-data">
            {{ formfoto.csrf_token }}
          <h2>{{ usuario.username }} - Postar projeto</h2>

          <div class="bloco-arquivo">
            <label for="foto" class="botao-arquivo">
              Escolher o arquivo:
                    {{ formfoto.icone.label() }}
                    {{ formfoto.icone(class="input-arquivo",  id="foto")}}
            </label>
            <span id="imagem-arquivo" class=""></span>

          </div>
            <div class="bloco-arquivo">
              <div class="div-input">
                {{ formfoto.nome.label(class="label") }}
                {{ formfoto.nome(class="input") }}
              </div>

              <div class="div-select">
                {{ formfoto.categoria.label(class="label") }}
                {{ formfoto.categoria(class="select") }}
              </div>

              <div class="div-input">
                {{ formfoto.descricao.label(class="label") }}
                {{ formfoto.descricao(class="input") }}
              </div>

              <div class="div-input">
                {{ formfoto.link_repositorio.label(class="label") }}
                {{ formfoto.link_repositorio(class="input") }}
              </div>
            </div>
            {{ formfoto.botao_confirmacao(class="botao-login") }}
            {% if mensagem_formfoto %}
              <h3>Projeto adicionado !</h3>
            {% endif %}
        </form>
    </div>
   {% else %}
   <div class="bloco-add-img">
       <h2>Perfil - {{ usuario.username }}</h2>
   </div>
    {% endif %}


      <div class="conteudo">
        {% for foto in usuario.fotos %}
            <div class="bloco-imagem">
                <img src="{{ url_for('static', filename='fotos_posts/{}'.format(foto.icone)) }}">
            </div>
        {% endfor %}
      </div>

    <script>
      let input = document.getElementById("foto");
      let imagemArquivo = document.getElementById("imagem-arquivo");

      input.addEventListener("change", () => {
        let inputImagem = document.querySelector("input[type=file]").files[0];

        imagemArquivo.classList.add("visivel");
        imagemArquivo.innerText = inputImagem.name;
      });
    </script>
  </body>

{% endblock %}